<div class="row">

    <div class="col-lg-6 col-lg-offset-3">
        <div class="form-box">
            <h3 class="form-stamp">Add company Record</h3>
            <form name="addCompanyForm"
                  ng-submit="addcmpCtrl.addCompany(addcmpCtrl.company)" novalidate
            >
                <div class="form-group">
                    <label for="id_cmp_id">Company Registration Id</label>
                    <input
                            type="text" class="form-control"
                            id="id_cmp_id" placeholder="Company Registration Id"
                            ng-model="addcmpCtrl.company.id" required
                    >
                </div>

                <div class="form-group">
                    <label for="id_name">Name</label>
                    <input
                            type="text" class="form-control"
                            id="id_name" placeholder="Name"
                            ng-model="addcmpCtrl.company.name" required
                    >
                </div>

                <div class="form-group">
                    <label for="id_date">Company foundation date</label>
                    <input
                            type="date" class="form-control"
                            id="id_date" ng-model="addcmpCtrl.company.createdAt" required
                    >
                </div>

                <button
                        type="submit" class="btn btn-success"
                        ng-disabled="addCompanyForm.$invalid || addCompanyForm.$pristine">
                    add record
                </button>
            </form>
        </div>
    </div>
</div>