<div class="row">

    <div class="col-lg-6 col-lg-offset-3">
        <div class="form-box">
            <h3 class="form-stamp">Add Employee Record</h3>
            <form name="addEmployeeForm"
                  ng-submit="addEmpCtrl.addEmployee(addEmpCtrl.employee)" novalidate
            >
                <div class="form-group">
                    <label for="id_cmp_id">Company Registration Id</label>
                    <input
                            type="text" class="form-control"
                            id="id_cmp_id" placeholder="Employee Registration Id"
                            ng-model="addEmpCtrl.employee.employeeId" required
                    >
                </div>

                <div class="form-group">
                    <label for="id_fn">First Name</label>
                    <input
                            type="text" class="form-control"
                            id="id_fn" placeholder="First Name"
                            ng-model="addEmpCtrl.employee.firstName" required
                    >
                </div>

                <div class="form-group">
                    <label for="id_ln">Last Name</label>
                    <input type="text" class="form-control"
                           id="id_ln" placeholder="Last Name"
                           ng-model="addEmpCtrl.employee.lastName" required
                    >
                </div>

                <div class="form-group">
                    <label for="id_des">Designation</label>
                    <input
                            type="text" class="form-control"
                            id="id_des" placeholder="Designation"
                            ng-model="addEmpCtrl.employee.designation" required
                    >
                </div>

                <div class="form-group">
                    <label for="id_j_date">joining date</label>
                    <input
                            type="date" class="form-control"
                            id="id_j_date" placeholder="YYYY-MM-DD"
                            ng-model="addEmpCtrl.employee.joiningDate" required
                    >
                </div>

                <button
                        type="submit" class="btn btn-success"
                        ng-disabled="addEmployeeForm.$invalid || addEmployeeForm.$pristine">
                    add record
                </button>
            </form>
        </div>
    </div>
</div>