{% load static %}

<!DOCTYPE html>
<html lang="en" ng-app="recordsApp">
    <head>
        <base href="/" />
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/local/css/style.css' %}">
    </head>
    <body>
        {% verbatim %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Records</a>
            </div>
        </nav>

        <!-- Load the different views here -->
        <div class="container" id="main-content">
            <ng-view></ng-view>
        </div>

        {% endverbatim %}
        <script src="{% static 'assets/vendor/js/angular.min.js' %}"></script>
        <script src="{% static 'assets/vendor/js/angular-route.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/local/js/app.js' %}"></script>
        <script src="{% static 'assets/local/js/factory/recordsAppFactory.js' %}"></script>
        <script src="{% static 'assets/local/js/controllers/companiesListController.js' %}"></script>
        <script src="{% static 'assets/local/js/controllers/employeesListController.js' %}"></script>
        <script src="{% static 'assets/local/js/controllers/updateEmployeeController.js' %}"></script>
    </body>
</html>