.navbar {
    background-color: #28b62c;
    border-color: #23a127;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:visited {
    font-size: 25px;
    color: #FFF;
    font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:visited {
    font-size: 15px;
    color: #FFF;
    font-weight: 700;
}

.input-group-addon {
    background-color: #28b62c;
    border-color: #23a127;
    color: #FFF;
}

input[type="search"], input[type="search"]:focus {
    border-color: #23a127;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;;
}

.btn-danger:hover {
    background-color: #d9534f;
    border-color: #d43f3a;;
}

#main-content {
    margin-top: 125px;
}

td, th {
    text-align: center;
}

.form-box {
    border-radius: 3px;
    padding: 5px 20px 10px 20px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(34,36,38,.15);
    background-color: #FFF;
}


label {
    font-size: 16px;
    font-weight: 700;
}

.form-box .form-stamp {
    color: #28b62c;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}

input.ng-dirty.ng-valid {
    border-color: #28b62c;
}

input.ng-dirty.ng-invalid {
    border-color: #ff4136;
}

.right {
    float: right;
    margin-bottom: 20px;
}

.icon {
    margin-right: 3px;
}

.icon-sort {
    margin-left: 5px;
    font-size: 9px;
}

.paginator {
    margin-top: 50px;
    text-align: center;
}

.pagination > .active > a,
.pagination > .active > a:active,
.pagination > .active > a:hover,
.pagination > .active > a:visited {
    background-color: #28b62c;
    border-color: #23a127;
}
